/* CSS Document */

#accountAvatar{
	height: 300px;
	width: 300px;
	float:left;
	margin-left:10px;
}

#accountAvatar img{
    height:280px;
    width:280px;
    display:block;
    margin: 10px auto 0 auto;
}

#miniPics{
	float:left;
	margin-left: 15px;
}

#miniPics li{
	list-style-type: none;
}

#miniPics li img{
	height:57px;
	width:57px;
}

#userInfo{
	float:left;
	width:607px;
	height:300px;
	margin-left:20px;
	margin-bottom:100px;
}

#sub_menu{
    clear:both;
    width: 1020px;
    height: 50px; 
    margin: 0 auto 0 auto;
    border-bottom: solid;
    border-top: solid;
}

#sub_menu a{
    color:#FFF1CD;
}

#show_audio, #show_bundle{
    color: #FFF1CD;
}

#sub_menu ul{
    text-align: center;
}

#sub_menu ul li{
    display: inline-block;
    margin-right: 2px;
    line-height:3em;
}

#userInfo > p ,#userInfo >h2,#userInfo >h3{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#track{
	margin-top:30px;
	clear:both;
}

#show_content > ul{
    width:220px;
    margin: 15px auto 0 auto;
}

#show_content > ul >li{
    display:inline-block;
    width:60px;
    text-align: center;
}

#track > #eachTrack{
    width: 95%;
    height: 40px;
    margin: 0 auto 20px auto;
    padding-right:15px;
    padding-left:15px;
    line-height:2.2em;
    border: 1px solid #699;
}

#genre, #price, #tempo, #album, #likes, #ratings, #plays, #size, #title{
    float:left;
    font-size: 15px;
    padding: 3px 10px 3px 3px;
    border-right: 3px outset #CCC;
    text-align: center;
}

#play_button{
    float:right;
    padding-top:7px;
}

.audio_form{
    border:1px solid #000000;
    margin-top:20px;
    margin-left:20px;
}
