/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Arimo', sans-serif;
	font-size:15px;
	letter-spacing:0.5px;
  border: 0px;
}

body{
	background-image:url('../images/background.png');
	background-repeat: repeat;
}

#wrapper{
	width: 1024px;
	margin: 70px auto 20px auto;
	padding: 10px 0 10px 0;
}

#main_nav{
	clear:both;
	height: 65px;
	width: 100%;
	color:#F5F5F5;
	font-size:21px;
	line-height: 2.5em;
	margin:0px;
}

td:nth-child(1){
  width: 400px;
}

td:nth-child(2){
  width: 800px;
  margin: 0 auto;   
}

#main_nav img{   
  margin-top: 3px;
  margin-left: 5px;	
}

#main_nav ul > li{
	display: inline-block;
  margin-right: 15px;
  float:right;
}

#quickLogin{
	margin: 10px 10px 10px 10px;
}

#quickLogin >ul > li{
	display: inline-block;
	float:right;
	margin-left:5px;;
	font-size: 15px;
	line-height: 1em;
}

a{
	text-decoration:none;
}

a:link{
	color: #DFF;
}

#foot{
	margin: 0px;
	bottom: 0;
	width: 100%;
	height: 80px;
	color:#F5F5F5;
	font-size:21px;
}

#genre, #price, #tempo, #album, #likes, #ratings, #plays, #size, #title{
    float:left;
    font-size: 15px;
    padding: 3px 50px 3px 3px;
    text-align: center;
    line-height: 2em;
}

footer{
	position:fixed;
	width:100%;
	height:40px;
	bottom:0px;
}

#player{
	width:500px;
	margin: 0 auto 0 auto;
	background-color: #8486B6;
}

