/* CSS Document */

.track{
	width:1024px;
	height:40px;
	margin:0 auto 0 auto;
	background-color:#FFF;
	margin-top:20px;
	border-radius:3px;
	box-shadow:0px 3px 4px #CCC;
}

.track ul li{
	display: inline-block;
}

#audio_header{
	width:1024px;
	height:40px;
	margin: 10px auto 0 auto;
}

#audio_header ul li{
	display: inline-block;
	line-height: 2.5em;
	font-weight: bold;
}


#audio_header ul li:nth-child(1), /*title*/
#audio_header ul li:nth-child(2), /*artist*/
.track ul li:nth-child(1), /*title*/
.track ul li:nth-child(2){/*artist*/
	width:200px;
	line-height: 1em;
	padding-left: 10px;
	text-align:center;
}

#audio_header ul li:nth-child(3),/*genre*/
.track ul li:nth-child(3){/*genre*/
	width:80px;
	text-align:center;
}

#audio_header ul li:nth-child(4), /*length*/
.track ul li:nth-child(4){/*length*/
	width:50px;
	text-align:center;
}

#audio_header ul li:nth-child(5),/*price*/
#audio_header ul li:nth-child(6),/*plays*/
#audio_header ul li:nth-child(7),/*likes*/
#audio_header ul li:nth-child(8),/*ratings*/
#audio_header ul li:nth-child(9),/*popuarity*/
.track ul li:nth-child(5),/*price*/
.track ul li:nth-child(6),/*plays*/
.track ul li:nth-child(7),/*likes*/
.track ul li:nth-child(8),/*ratings*/
.track ul li:nth-child(9),/*popularity*/
.track ul li:nth-child(13){/*playbutton*/
	width:55px;
	text-align:center;
}

.track ul li:nth-child(9) > img{/*popularity*/
	width:25px;
	padding-left: 15px;
	text-align:center;
}





