/*
* CSS Document 
* registration.php
* Created on: May 24th 2014
* Modified on: May 24th 2014
*
*/

textarea{
	width: 365px;
	font-size: 21px;
	margin-left:50px;
	margin-bottom: 10px;
	display: block;
	border: 1px solid #AAA;
	resize: none;	
}

#file_close{
	vertical-align: middle;
}

.input_error{
	background-color:#F30;
}

.input_valid{
	background-color:#6C0;
}

